<header>
    <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row>
            <span class="title">Inventory list - Exercise
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="link" (click)="ShowHomeMessage('Please choose one of the options above')">
                Home </span>
            <span> | </span>
            <span class="link" (click)="getAllItems()">
                List </span>
            <span> | </span>
            <span class="link" (click)="showTheAddForm()">
                Add Item</span>
            <span> | </span>
            <span class="link" (click)="showFormFindItem()">
                Find Item</span>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<body>

    <p>{{titleText}}</p>

    <!-- add item -->
    <table id="items" *ngIf="showAddForm">
        <tr>
            <th>ITEM NAME</th>
            <th>AMOUNT IN STOCK</th>
            <th>INVENTORY CODE</th>
            <th colspan="3" id="thAction">Action</th>
        </tr>
        <tr>
            <td> Choose name: <input type="string" placeholder="name.." [(ngModel)]="item.name" class="input">
            </td>
            <td> Choose amount: <input type="number" placeholder="quantity.." [(ngModel)]="item.amount" class="input">
            </td>
            <td> Choose code: <input type="string" placeholder="code.." [(ngModel)]="item.inventoryCode" (keyup.enter)="addItem()" class="input">
            </td>

            <td id="delete">
                <button class="button" id="addButton" (click)="addItem()"> Add item </button>
            </td>
        </tr>
    </table>


    <!-- show item -->
    <table id="items" *ngIf="showItem">
        <tr>
            <th>ITEM NO</th>
            <th>NAME</th>
            <th>AMOUNT</th>
            <th>INVENTORY CODE</th>
            <th colspan="3" id="thAction">Actions</th>

        </tr>
        <tr>
            <td>{{item.itemId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.inventoryCode}}</td>
            <td id="action">
                Deposit <input type="number" matInput placeholder="Quantity" (keyup)="parseAmount($event)" (keyup.enter)="deposit(item.itemId)" class="input">
                <button class="button" id="submitButton" (click)="deposit(item.itemId)"> Go </button>
            </td>
            <td id="action">
                Withdrawal <input type="number" matInput placeholder="Quantity" (keyup)="parseAmount($event)" (keyup.enter)="withdrawal(item.itemId)" class="input">
                <button class="button" id="submitButton" (click)="withdrawal(item.itemId)"> Go </button>
            </td>
            <td id="delete">
                <button class="button" id="deleteButton" (click)="deleteItem(item.itemId)"> Delete item </button>
            </td>
        </tr>
    </table>


    <!-- show list -->
    <div *ngIf="showList">
        <table id="items">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Amount</th>
                <th>inventory Code</th>
                <th colspan="3" id="thAction">Actions</th>
            </tr>
            <tr *ngFor="let item of items">
                <td>{{item.itemId}}</td>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.inventoryCode}}</td>
                <td id="action">
                    Deposit <input type="number" matInput placeholder="Quantity" (keyup)="parseAmount($event)" (keyup.enter)="deposit(item.itemId)" class="input">
                    <button class="button" id="submitButton" (click)="deposit(item.itemId)"> Go </button>
                </td>
                <td id="action">
                    Withdrawal <input type="number" matInput placeholder="Quantity" (keyup)="parseAmount($event)" (keyup.enter)="withdrawal(item.itemId)" class="input">
                    <button class="button" id="submitButton" (click)="withdrawal(item.itemId)"> Go </button>
                </td>
                <td id="delete">
                    <button class="button" id="deleteButton" (click)="deleteItem(item.itemId)"> Delete item </button>
                </td>
            </tr>
        </table>
    </div>


    <!-- Find Item Form -->
    <table id="items2" *ngIf="showFindForm">
        Please enter the item no (Id): <input type="number" placeholder="no.." [(ngModel)]="idToFind" (keyup.enter)="getItem()" class="input">
        <button class="button" id="addButton" (click)="getItem()"> Go
        </button>
    </table>

</body>